table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

thead {
  background-color:rgb(194, 115, 25);
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

th {
  text-transform: uppercase;
}